* {
    box-sizing: border-box;
    margin: 0;padding: 0;
}
header * {
    display: inline-block;
    text-align: center;
}
.navbar img {

    align-items: center;

}


.menu-bar img {
    width: 100px;
}
.menu-bar * {
    text-align: left;
}